parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Williarin\WordpressInteropBundle\Bridge\ManagerRegistry:
        arguments:
            $container: '@service_container'
            $managers: '%wordpress_interop.entity_managers%'
            $defaultManager: '%wordpress_interop.default_entity_manager%'

    Williarin\WordpressInterop\Bridge\Repository\:
        resource: '%kernel.project_dir%/vendor/williarin/wordpress-interop/src/Bridge/Repository/'

    Williarin\WordpressInterop\ManagerRegistryInterface: '@Williarin\WordpressInteropBundle\Bridge\ManagerRegistry'

    Williarin\WordpressInterop\EntityManagerInterface: '@wordpress_interop.entity_manager'

    wordpress_interop.entity_manager.abstract:
        class: Williarin\WordpressInteropBundle\Bridge\EntityManager
        abstract: true
        lazy: true
        factory: ['Williarin\WordpressInteropBundle\Bridge\EntityManagerFactory', 'create']

    serializer.normalizer.serialized_array:
        class: Williarin\WordpressInterop\Serializer\SerializedArrayDenormalizer
        arguments: ['@serializer.normalizer.object']

    Williarin\WordpressInterop\Persistence\DuplicationService:
        arguments:
            $slugger: '@slugger'
    Williarin\WordpressInterop\Persistence\DuplicationServiceInterface: '@Williarin\WordpressInterop\Persistence\DuplicationService'
